@page
@model IndexModel

@using Microsoft.Fast.Components.FluentUI
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization

@using System.Text.Json
@using System.Threading.Tasks
@using System.Linq
@using System.ComponentModel
@using System.Collections.Generic
@using System.Collections.ObjectModel
@using System.Collections.Specialized
@using System.Windows.Input
@using System.Net.Http.Json
@using System.Reflection
@using Microsoft.AspNetCore.Components.Web.Virtualization



@{
    ViewData["Title"] = "Home Page";
}

<FluentUIComponents.DefaultButton OnClick="@(() => { /* Handle button click */ })">Click me</FluentUIComponents.DefaultButton>

<FluentUIComponents.Popup IsOpen="@isPopupOpen">
    <FluentUIComponents.TextBlock>My Pop-up content</FluentUIComponents.TextBlock>
</FluentUIComponents.Popup>



<fluent-card>
    <h2>@ViewData["Title"]</h2>
    <fluent-button id="button" appearance="accent">Click Me</fluent-button>
</fluent-card>
<head>
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.components.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/js/fabric.min.js"></script>
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/js/fabric.components.min.js"></script>
</head>

<button id="openDialogButton">Open Dialog</button>

